# Imports

In [64]:
import pandas as pd
import random

# Carga de datos

In [65]:
df = pd.read_csv('products.csv')
df.head(50)

   Unnamed: 0  product_code        provedor
0         244            71  Proveedor-0071
1         246            83  Proveedor-0083
2        2233            33  Proveedor-0033
3        7048           100  Proveedor-0100
4        7075            93  Proveedor-0093
5        7687            12  Proveedor-0012
6       26257           116  Proveedor-0116
7       45568            36  Proveedor-0036
8      603313            94  Proveedor-1607
9      605858            38  Proveedor-1403

# Eliminación de columnas extra

In [66]:
df = df[["provedor"]]
df.head(50)

         provedor
0  Proveedor-0071
1  Proveedor-0083
2  Proveedor-0033
3  Proveedor-0100
4  Proveedor-0093
5  Proveedor-0012
6  Proveedor-0116
7  Proveedor-0036
8  Proveedor-1607
9  Proveedor-1403

# Inserción de columnas

In [69]:
df["encargado"] = pd.Series([
    "Ramiro Gutiérrez López",
    "Adriana Guillén Gonzáles",
    "Felipe Ignacio Cuero Gómez",
    "Crisóforo Rodriguez Almiedo",
    "Timoteo Ramirez Sánchez",
    "Amairany Jímenez Robles",
    "Luis Ángel Sánchez García",
    "Donaldo Dominguez Hernández",
    "Eduardo Gómez López",
    "Luis Ángel Sánchez García",
])
tels = [f"442{random.randint(1000000,9999999)}" for x in range(10)]
df["tel"] = pd.Series(tels)

df["email"] = pd.Series([ f"example{tels[i][:4]}@mail.com.mx" for i in range(10)])

df.head(50)

,provedor,encargado,tel,email
0,Proveedor-0071,Ramiro Gutiérrez López,4421768014,example4421@mail.com.mx
1,Proveedor-0083,Adriana Guillén Gonzáles,4421465680,example4421@mail.com.mx
2,Proveedor-0033,Felipe Ignacio Cuero Gómez,4426945630,example4426@mail.com.mx
3,Proveedor-0100,Crisóforo Rodriguez Almiedo,4421182307,example4421@mail.com.mx
4,Proveedor-0093,Timoteo Ramirez Sánchez,4426051106,example4426@mail.com.mx
5,Proveedor-0012,Amairany Jímenez Robles,4427046906,example4427@mail.com.mx
6,Proveedor-0116,Luis Ángel Sánchez García,4421226294,example4421@mail.com.mx
7,Proveedor-0036,Donaldo Dominguez Hernández,4429164459,example4429@mail.com.mx
8,Proveedor-1607,Eduardo Gómez López,4421384700,example4421@mail.com.mx
9,Proveedor-1403,Luis Ángel Sánchez García,4421228672,example4421@mail.com.mx

# Guardar archivo

In [70]:
df.to_csv('provedores.csv')